<ion-content padding text-center class="primaryColor">
    <ion-grid>
        <ion-row>
            <ion-col class="top-20">
                <img src="../../assets/imgs/kinder.png">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h3>Hello!</h3>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="top-5">

                <button (click)="loginGoogle()" ion-button color="google" icon-left block>
                    <ion-icon name="logo-google"></ion-icon>Google +
                </button>



                <button (click)="signInWithFacebook()" ion-button color="facebook" icon-left block>
                        <ion-icon name="logo-facebook"></ion-icon>Facebook
                </button>

            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>