page-login {
    ion-content-app {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b577b+0,2989d8+50,207cca+51,341a4a+100 */
        background: #1b577b;
        /* Old browsers */
        background: -moz-linear-gradient(top, #1b577b 0%, #2989d8 50%, #207cca 51%, #341a4a 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1b577b 0%, #2989d8 50%, #207cca 51%, #341a4a 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1b577b 0%, #2989d8 50%, #207cca 51%, #341a4a 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    img {
        width: 150px;
    }
    .top-20 {
        margin-top: 20%;
    }
    .top-5 {
        margin-top: 5%;
    }
    h3 {
        color: white;
    }
    .primaryColor {
        background-color: #1976D2;
    }
}